.container {
  height: fit-content;
  display: block;
  flex-flow: column;
}

.form {
  height: calc(100vh - calc(80px + 4em)); /* Crap solution but hey it works */
  padding: 0px;
  display: flex;
  flex-flow: column;
  width: inherit;
  background-color: white;
}

/* Chatroom page parts */
#chat_head {
  border-bottom: black 1px solid;
  padding: 5px;
  flex: 0;
}

#chat {
  overflow-y: scroll;
  flex: 1;
}

#chat_foot {
  border-top: black 1px solid;
  padding: 5px;
  flex: 0;
  display: flex;
}

p {
  margin: 0px 0px;
}

.chat_msg {
  padding: 0px 5px;
  width: calc(100% - 10px);
  white-space: normal;
  word-break: break-all;
  border-bottom: black 1px solid;
}

.chat_msg:hover {
  background-color: antiquewhite
}

.chat_nickname {
  font-weight: bold;
}
