html {
  padding: 0px;
  margin: 0px;
  min-height: 100%;
  min-width: 100%;
  background: linear-gradient(skyblue, azure);
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  margin: 10px;
  font-family: serif;
}

.buttons {
  margin: 5px 0px;
  display: flex;
}

.buttons > a > img {
  margin-right: 5px;
  width: 88px;
  height: 31px;
}

.container {
  padding: 15px;
  border: 1px solid black;
  background-color: #ffffff95;
}

.form {
  border: 5px cornflowerblue outset;
  background: skyblue;
  padding: 5px;
  width: fit-content;
}

.guestpost {
  margin: 5px 0px;
  padding: 5px;
  border: 1px solid black;
  background-color: white;
}

.guestpost > p {
  margin: 0px;
}
